@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #0066ff;
  font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', system-ui, -apple-system, sans-serif;
  color: #111;
  background-color: #fff;
}

body {
  margin: 0;
  font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', system-ui, -apple-system, sans-serif;
  background-color: #fff;
  color: #111;
}

/* Override Tailwind indigo palette with primary blues */
.text-indigo-50 { --tw-text-opacity: 1; color: rgb(239 246 255 / var(--tw-text-opacity)); }
.text-indigo-100 { --tw-text-opacity: 1; color: rgb(219 234 254 / var(--tw-text-opacity)); }
.text-indigo-200 { --tw-text-opacity: 1; color: rgb(191 219 254 / var(--tw-text-opacity)); }
.text-indigo-300 { --tw-text-opacity: 1; color: rgb(147 197 253 / var(--tw-text-opacity)); }
.text-indigo-400 { --tw-text-opacity: 1; color: rgb(96 165 250 / var(--tw-text-opacity)); }
.text-indigo-500 { --tw-text-opacity: 1; color: rgb(59 130 246 / var(--tw-text-opacity)); }
.text-indigo-600 { --tw-text-opacity: 1; color: rgb(0 102 255 / var(--tw-text-opacity)); }
.text-indigo-700 { --tw-text-opacity: 1; color: rgb(37 99 235 / var(--tw-text-opacity)); }
.text-indigo-900 { --tw-text-opacity: 1; color: rgb(30 58 138 / var(--tw-text-opacity)); }
.text-indigo-950 { --tw-text-opacity: 1; color: rgb(20 31 82 / var(--tw-text-opacity)); }

.bg-indigo-50 { --tw-bg-opacity: 1; background-color: rgb(239 246 255 / var(--tw-bg-opacity)); }
.bg-indigo-100 { --tw-bg-opacity: 1; background-color: rgb(219 234 254 / var(--tw-bg-opacity)); }
.bg-indigo-200 { --tw-bg-opacity: 1; background-color: rgb(191 219 254 / var(--tw-bg-opacity)); }
.bg-indigo-300 { --tw-bg-opacity: 1; background-color: rgb(147 197 253 / var(--tw-bg-opacity)); }
.bg-indigo-400 { --tw-bg-opacity: 1; background-color: rgb(96 165 250 / var(--tw-bg-opacity)); }
.bg-indigo-500 { --tw-bg-opacity: 1; background-color: rgb(59 130 246 / var(--tw-bg-opacity)); }
.bg-indigo-600 { --tw-bg-opacity: 1; background-color: rgb(0 102 255 / var(--tw-bg-opacity)); }
.bg-indigo-700 { --tw-bg-opacity: 1; background-color: rgb(37 99 235 / var(--tw-bg-opacity)); }
.bg-indigo-900 { --tw-bg-opacity: 1; background-color: rgb(30 58 138 / var(--tw-bg-opacity)); }
.bg-indigo-950 { --tw-bg-opacity: 1; background-color: rgb(20 31 82 / var(--tw-bg-opacity)); }

.border-indigo-50 { --tw-border-opacity: 1; border-color: rgb(239 246 255 / var(--tw-border-opacity)); }
.border-indigo-100 { --tw-border-opacity: 1; border-color: rgb(219 234 254 / var(--tw-border-opacity)); }
.border-indigo-200 { --tw-border-opacity: 1; border-color: rgb(191 219 254 / var(--tw-border-opacity)); }
.border-indigo-300 { --tw-border-opacity: 1; border-color: rgb(147 197 253 / var(--tw-border-opacity)); }
.border-indigo-400 { --tw-border-opacity: 1; border-color: rgb(96 165 250 / var(--tw-border-opacity)); }
.border-indigo-500 { --tw-border-opacity: 1; border-color: rgb(59 130 246 / var(--tw-border-opacity)); }
.border-indigo-600 { --tw-border-opacity: 1; border-color: rgb(0 102 255 / var(--tw-border-opacity)); }
.border-indigo-700 { --tw-border-opacity: 1; border-color: rgb(37 99 235 / var(--tw-border-opacity)); }
.border-indigo-900 { --tw-border-opacity: 1; border-color: rgb(30 58 138 / var(--tw-border-opacity)); }
.border-indigo-950 { --tw-border-opacity: 1; border-color: rgb(20 31 82 / var(--tw-border-opacity)); }
